@media screen and (max-width: 855px) {
    .header-text-container {
        min-width: 100%;
    }
    .nav-mobile {
        display: flex;
    }
    .nav-desktop {
        display: none;
    }
    .header-banner-section {
        padding: 120px 0 30px 0;
        background-position: center;
    }
    .aboutus-container {
        justify-content: center;
    }
    .aboutus-text-holder {
        min-width: 100%;
    }
    .aboutus-image-holder {
        min-width: 90%;
        margin: 20px 0;
    }
}